@import "tailwindcss";

@theme {
  --color-primary: #38C585;
  --color-primary-chat: #EEFFF7;
  --color-primary-hover: #24b373;
  --color-light-primary: #38C585;
  --color-light-gray: #E9ECEF;
  --color-gray: #a4a9b0;
  --color-dark-gray: #e3e4e6;
  --color-white: #FFFFFF;
  --color-white-bg: #f2f2f2;
  --color-warning: #E75F5F;
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url();
}

html, body {
  background-color: #f2f2f2;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@keyframes bell-ring {
  0% { transform: rotate(0); }
  15% { transform: rotate(10deg); }
  30% { transform: rotate(-10deg); }
  45% { transform: rotate(8deg); }
  60% { transform: rotate(-8deg); }
  75% { transform: rotate(4deg); }
  100% { transform: rotate(0); }
}

.bell-hover:hover {
  animation: bell-ring 0.7s ease-in-out;
  transform-origin: top center;
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: rgba(56, 197, 133, 0.7) rgba(0, 0, 0, 0.1);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(56, 197, 133, 0.7);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: rgba(56, 197, 133, 1);
}




